.address-page {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.address-page input {
    margin: 10px;
}

.address-page-btns {
    margin-bottom: 10px;
}