.product-page {
    display: flex;
    flex-direction: row;
    
}
.product-cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: 260px;
}

.product-filters{
   width: 260px;
  position: fixed;
  border-right: 1px solid;
  margin-bottom: 0px;
  height: 100vh;
}

.filter-header {
    margin: 10px 20px;
    display: flex;
    justify-content: space-between
}

.filter-header button{
    margin: auto 5px;
    border-radius: 5px;
    padding: 3px 10px;
    background-color: #0369a1;
    color: white;
    font-weight: bold;
}

.price-slider{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    margin-bottom: 20px;
}

.price-slider label{
    margin:auto 20px ;
    font-weight: bold;
}

#price {
    margin:-10px 20px auto 20px;
}

.product-category-filter, .rating-filter, .sort-filter{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    margin: 0px 20px;
}

.product-category-label, .rating-title, .sort-filter p{
    font-weight: bold;
    margin-bottom: 1px;
}
.product-categories, .radio-btn,.sort-radio-btn{
    list-style: none;
}

.list {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.page-title {
    margin-left: 260px;
}
.product-count {
    font-size: 12px;
    font-weight: 500;
}