.app-footer{
    line-height: 5px;
    font-size: 15px;
    background-color: #0369a1;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.footer-description{
    text-align: left;
    padding: 10px 10px 10px 10px;
}

.footer-links{
    align-self: flex-start;
}
.connect-logo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.connect-logo a{
    text-decoration: none;
    margin: auto 20px;
    color: white;
}
